<!DOCTYPE html>
<html lang="en">
<%-include('layouts/nav');-%>
<body>
<div class="container d-flex my-5 justify-content-around">
    <div class="image">
        <img src="reg.jpg" alt="register" class="rounded" style="height: 50vh;width:45vw;">
    </div>
    <div class="inner my-5"style="width:30%;">
        <div class="text my-2">
            <p class="fs-3 text-center"><span class="fs-1"><b>Welcome</b></span><br> to GHS NJINIKOM School Online Teacher Registration Site.</p>
    
            <div class="register" style="width: 100%;">
                <a href="/register" class="btn btn-primary" style="width: 90%;">Register</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <p class="text-center">infinity tech</p>
</footer>
</body>
</html>